@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

@layer base {
  body {
    font-family: "inter", sans-serif;
    background-image: linear-gradient(
      to bottom,
      rgb(0, 0, 0),
      rgb(0, 0, 0),
      rgb(4, 4, 22)
    );
  }
}

.cardBorder {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;

  transition: all 500ms ease;
}

.grad {
  /* background: radial-gradient(
    300px circle at 150px 150px,
    rgba(255, 255, 255, 0.06),
    transparent 40%
  ); */
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;

  opacity: 1;
  transition: all 500ms ease;
}
